.Column {
  background-color: yellow;
  float: left;
  width: 15%;
  height: 500px;
}

.Middle {
  background-color: blue;
  color: white;
  float: left;
  width: 70%;
  height: 500px;
}

.Right {
  background-color: #a6f0c6;
  float: left;
  width: 15%;
  height: 500px;
}

.header {
  background-color: #51c2d5;
  color: white;
  margin: 0;
  width:100%;
  height: 50px;
  padding: 50px;
}

body{
  margin: 0;
}

footer{
  background-color: green;
}

footer p {
  padding: 10px;
}

p{
  padding: 50px;
  margin: 0;
}

ul{
  padding: 50px;
}
